[submodule "src/components/pebble-ui"]
	path = src/components/pebble-ui
	url = git@github.com:cairnmanagement/pebble-ui.git
	branch = main
[submodule "src/js/app"]
	path = src/js/app
	url = git@github.com:cairnmanagement/appjs.git
	branch = main
