.control-result-item {
    position: absolute;
    z-index: 2;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align:center;
    top:0px;
}

.habilitation-timeline, 
.control-timeline, 
.contrat-timeline {
    position:absolute;
    overflow:hidden;
    white-space: nowrap;
}

.habilitation-timeline, 
.contrat-timeline {
    height:25px;
    z-index:1;
}

.label-timeline {
    line-height: 25px;
}

.habilitation-timeline {
    top:0px;
}

.contrat-timeline {
    top:25px;
}

.control-timeline {
    height:5px;
    z-index: 2;
    top:20px;
}

.table-grid, .table-content {
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    width:100%;
}

.table-grid {
    z-index:1;
}

.table-content {
    z-index: 2;
}

.table-row, .table-row-content {
    height:50px;
    position: absolute;
    left:0px;
    width:100%;
}

.table-row {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}

.table-row-content {
    overflow: hidden;
}

.table-col {
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    width:50px;
    position: absolute;
    top:0px;
    bottom:0px;
}

.table-header {
    line-height: 50px;
}